*{
    margin: 0;
    padding: 0;
    list-style: none;
    
}
body{
    background-color: aquamarine;
    overflow-x: hidden;
}
#head{
    position: relative;
    display: flex;
    margin: 0px 0px;
    background-color: rgb(238, 231, 231);
    justify-content: space-between;
    border-bottom: 2px solid orangered;
    margin-bottom: -27px;
}
#head .logo{
    width: 70px;
    height: 70px;
    margin: 2px 5px;
}
#head h3{
    position: absolute;
    margin-left: 6.5vw;
    margin-top: 10px;
    color: red;
    font-weight: 800;
    font-size: 19px;
}
#head .pop{
    position: absolute;
    margin-top: 38px;
    margin-left: 6.5vw;
    font-size: 16px;
    font-weight: 600;
    color: blueviolet;
}
#head .navy{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 33vw;
    margin-top: 25px;
    visibility: visible;
}
.navy a{
    text-decoration: none;
    color: blueviolet;
    font-weight: 800;
    font-size: 16px;
    margin: 6px;
    
}
.navy a:hover{
    color: red;
}
#head .sign{
    position: absolute;
    margin: 17px 78vw;
    width: 14%;
    display: flex;
}
.sign button{
    padding: 9px 12px;
    margin: 5px;
    border-radius: 9px;
    background-color: blueviolet;
    color: white;
    font-weight: 700;
    
}
.sign button:hover{
  filter: brightness(50%);
}
.continer{
    margin-top: 27px;
    position: relative;
    padding-top: 50px;
    background-image: url(IMG_1374.JPG);
    background-size: contain;
    background-color: olivedrab;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode:color-burn;
    border-bottom: 2px solid orange;
}
h4{
    letter-spacing: 3px;
    padding: 49px 6px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-style: italic;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h5{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}
h5 a{
    display: block;
    text-decoration: none;
    color: blueviolet;
    margin-left: 12px;
}
h5 a:hover{
    color: red;
}
#men{
    display: flex;
    justify-content: center;
    
}
.service{
    display: flex;
    justify-content: center;
}
.serv{
    margin: 6px 12px;
}
img{
    width: 280px;
    height: 280px;
    border-radius: 9px;
    border: 2px solid orange;
}
img:hover{
  filter:brightness(80%);
  background-color: brown;
  
}
.serv a{
    text-decoration: none;
}
.serv a:hover{
    color: red;
}
figcaption{
    display: flex;
    justify-content: center;
    font-weight: 700;
    
}
#types{
    background-color: rgb(114, 5, 5);
}
.regular{
    margin: 25px 25vw;
}
.regular h3{
    margin: 12px 15vw;
    color: white;
    padding-top: 12px;
}
p{
    margin-left: -51px;
    margin-top: -3px;
    font-size: 17px;
    font-weight: 700;
    color: white;
}
.img01{
    width: 80%;
    border: none;
}
.btn{
    padding: 9px 12px;
    margin: 12px -4vw;
    background-color: blueviolet;
    color: white;
}
.btn:hover{
    background-color: orange;
}
.promo{
    margin-top: -25px;
    background-color: olivedrab;
    padding-bottom: -32px;
}
.promo span{
    color: red;
}
.promo button{
    margin-top: -12px;
    padding: 12px 25px;
    background-color: rgb(68, 5, 5);
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 9px;
    border: 2px solid orange;
    text-decoration: none;
}
.promo button:hover{
    filter: brightness(70%);
}
footer{
    background-color: black;
    color: white;
}
footer p{
    margin-top: 25px;
    font-size: 15px;
    font-weight: 200;
    display: flex;
    justify-content: center;
}
footer h7{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}
.check:checked{
    background-color: rgb(68, 5, 5) ;
    color: white;
}
.open{
    visibility: hidden;
}
.icon{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 93vw;
    margin-top: 12px;
    visibility: hidden;
}
.contain{
    background-image: linear-gradient(black,purple,red,green,olive);
    color: white;
    width: 55vw;
    margin:9vh 20vw;
    border: 4px solid grey;
    border-radius: 12px;
    height: 56vh;
    font-size: 18px;
}
.contain .list{
    margin:-5vh 18vw;
    cursor: pointer;
}
.contain .list li{
    margin-top: 25px;
}
.contain .checky{
    margin:7vh 19vw;
}
#head .sign img{
    display: none;
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left:  17vw;
    margin-top: -4px;
}
.yo{
    position: absolute;
    display: block;
    margin-left: 5vw;
    width: 90%;
    margin-top: 31px;
    align-items: center;
    background-color: teal;
    border-radius: 12px;
    height: 15vh;
    visibility: hidden;
}
.yo li{
    margin-top: 8px;
    padding-left: 12px;
    color: white;
    font-weight: 600;
}
.yo li:hover{
    background-color: coral;
}
.sign .rad{
    display:none;
}
#head .wrong{
    visibility: hidden;
}
@media (max-width:1024px) {
    #head{
        height: 1vh;
        padding-bottom: 10vh;
        position: relative;
        display: flex;
        margin: 0px 6px;
        background-color: rgb(238, 231, 231);
        margin: 0;
        border-bottom: 2px solid orangered;
}
#head .yo{
    position: relative;
    display: block;
    margin-left: 59vw;
    width: 40%;
    margin-top: 10vh;
    align-items: center;
    background-color: teal;
    border-radius: 12px;
    height: 28vh;
    visibility:visible;
    z-index: 3;
    padding-top: 12px;
}

   #head .navy{
        visibility:hidden;
        
    }
    #head .sign{
        position: absolute;
        display: flex;
        margin: 13px 55vw;
        
    }
    .sign button{
        padding: 7px 19px;
        visibility: hidden;
    }
   #head .logo{
        position: absolute;
        width: 8vw;
        height: 8vh;
        margin-top: 8px;
        margin-left: 1px;
    }
   #head .logo_text{
        margin:2vh 9vw;
        font-size: 16px;
    }
   #head .pop{
        
     position: absolute;
     margin-left: 10vw;
     margin-top: 34px;
        font-size: 14px;
        font-weight: 200;
        color: black;
    }
  
.continer{
        margin-top: 0vh;
        height: 42vh;
        position:relative;
        background-repeat: repeat-y;
        border-bottom: 2px solid orange;
        overflow: hidden;
    }
    h4{
        position: absolute;
        letter-spacing: 2px;
        padding: 9px 4px;
        margin-left: 2vw;
        font-size: 11px;
        margin-top:-30px ;
    }
    #men{
        display: block;
        margin:7vh 23vw;
    }
    .open a:hover{
        color: red;
    }
    #men .serv img{
        width: 50vw;
        height: 30vh;
    }
   #head .sign .rad{
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        margin-top: 4px;
        margin-left:  33vw;
        visibility: visible;
    }
    .regular h3{
        width: 100%;
        margin: 12px 7vw;
        color: white;
        padding-top: 12px;
    }
    .regular img{
        width: 50vw;
    }
    .regular p{
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
    footer p{
        margin-left: 3vw;
    }
}
/*@media (min-width:323px) {
    #head{
        height: 1vh;
        padding-bottom: 7vh;
        position: relative;
        display: flex;
        margin: 0px 6px;
        background-color: rgb(238, 231, 231);
        margin: 0;
        border-bottom: 2px solid orangered;
}
#head .yo{
    position: relative;
    display: block;
    margin-left: 59vw;
    width: 40%;
    margin-top: 10vh;
    align-items: center;
    background-color: teal;
    border-radius: 12px;
    height: 28vh;
    visibility:visible;
    z-index: 3;
    padding-top: 12px;
}

   #head .navy{
        visibility:hidden;
        
    }
    #head .sign{
        position: absolute;
        display: flex;
        margin: 13px 55vw;
        
    }
    .sign button{
        padding: 7px 19px;
        visibility: hidden;
    }
   #head .logo{
        position: absolute;
        width: 8vw;
        height: 7vh;
        margin-top: 0.5px;
        margin-left: 0px;
    }
   #head .logo_text{
        margin:9px 9vw;
        font-size: 13px;
    }
   #head .pop{
        
     position: absolute;
     margin-left: 10vw;
     margin-top: 27px;
        font-size: 14px;
        font-weight: 200;
        color: black;
    }
  
.continer{
        margin-top: 0vh;
        height: 40vh;
        position:relative;
        background-repeat: repeat-y;
        border-bottom: 2px solid orange;
    }
    h4{
        position: absolute;
        letter-spacing: 2px;
        padding: 9px 4px;
        margin-left: 2vw;
        font-size: 11px;
        margin-top: -25px;
    }
  
    #men{
        display: block;
        min-height: 100%;
        align-content: center;
        margin:4vh 19vw;
      
    }
    .open a:hover{
        color: red;
    }
    #men .serv img{
        width: 50vw;
        height: 30vh;
    }
   #head .sign .rad{
        display: block;
        position: absolute;
        width: 5vh;
        height: 5vh;
        margin-top: -2px;
        margin-left:  33vw;
        visibility: visible;
    }
    .regular h3{
        width: 100%;
        margin: 12px 7vw;
        color: white;
        padding-top: 12px;
    }
    footer p{
        margin-left: 3vw;
    }
}
*/